h1 {
    font-size: 14pt;
    background-color:#ccccff;
    padding: 5px;
}

p {
    font-size: 12pt;
    color:#666699;
}

.redcolor{
    background-color:#ffaaaa;
}

.greencolor{
    background-color:#aaffaa;
}

#p1{
    position:absolute;
    background-color:#ccffcc;
    left:   10px;
    top:    50px;
    width:  200px;
    height: 50px;
}
